<header class = "main_page">
    <div class = "header_logo">
        <div class = "logo_img">
            <img src= "images/svg/logo.svg">
        </div>
        <div class = "logo_title">
            <strong>adventure</strong>
            <em>оставь свой след, где его еще нет...</em>
        </div>
    </div>
    <nav class = "header_nav">
        <ul>
            <li><a href="#">все страны</a></li>
            <li><a href="#">культура</a></li>
            <li><a href="#">экстрим</a></li>
            <li><a href="#">атмосфера</a></li>
            <li><a href="#">люди</a></li>
        </ul>
    </nav>
</header>