@import "../../bower_components/normalize-scss/normalize";
// @import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";


$menu-transform: 300px 470px;
$big-block-transform: 300px 719px;
$minimal: 300px 370px;

$four-col: 1420px;
$three-col: 1060px 1419px;
$two-col: 720px 1059px;
$one-col: 300px 719px;

@mixin clearfix {
    content: " ";
    display: block;
    clear: both;
}

@font-face {
  font-family: NewBaskervilleC, serif;
  src: url(../images/font/NewBaskervilleC.ttf);
}

@font-face {
  font-family: PT_Sans-Web-Regular, monospace;
  src: url(../images/font/PT_Sans-Web-Regular.ttf);
}

html {
  font-family: PT_Sans-Web-Regular, monospace;
}

section.main_page {
  min-width: 320px;
  overflow: hidden;
}


/* header start ---------------------------------------------------------------> */

header.main_page:after {
  @include clearfix;
}

.header_logo {
  height: 80px;
  background: #282a2d;
  color: #676b71;
  &:after {
    @include clearfix;
  }
  & .logo_img {
    width: 40px;
    height: 80px;
    margin-left: 9.4%;
    @include breakpoint($four-col) {
      margin-left: 90px;
    }
    float: left;
    & .svg_img{
      background: url("../images/svg/logo.svg") no-repeat;
      width: 100%;
      height: 55px;
      margin-top: 12px;
    }
}
  & .logo_title{
    overflow: hidden;
    float: left;
    margin: 18px 0 0 20px;
    & strong {
      display: block;
      color: #ffffff;
      font-family: NewBaskervilleC, serif;
      font-size: 32px;
      line-height: 32px;
      font-weight: normal;
    }
    & em {
      display: block;
      font-size: 11px;
      line-height: 11px;
      font-style: normal;
      letter-spacing: -1px;
      word-spacing: -1px;
    }
  }
}

.header_nav {
  height: 100px;
  margin: 0;
  padding: 0;
  @include breakpoint($menu-transform) {
    height: 40px;
  }
  & ul {
    margin: 0 0 0 9.4%;
    @include breakpoint($four-col) {
      margin-left: 90px;
    }
    padding: 0;
    & li {
      list-style: none;
      display: block;
      float: left;
      margin-right: 22px;
      margin-top: 64px;
      @include breakpoint($menu-transform) {
        margin-top: 5px;
        margin-right: 4%;
      }
      &:first-child{
        @include breakpoint($menu-transform) {
          width: 100%;
        }
      }
      & a{
        display: block;
        float: left;
        text-decoration: none;
        font-family: Arial, monospace;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        color: #676b71;
        height: 14px;
        &:hover{
          color: #000000;
          font-weight: bold;
        }
        &:active{
          color: #000000;
          font-weight: bold;
          height: 13px;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

/* <-- header end */


/* base content ---------------------------------------------------------------> */

div.side_watch{
  margin-left: 9.4%;
  @include breakpoint($four-col) {
    margin-left: 90px;
  }
  overflow: hidden;
  @include breakpoint($four-col){
    width: 1260px;
  }
  @include breakpoint($three-col){
    width: 940px;
  }
  @include breakpoint($two-col){
    width: 620px;
  }
  @include breakpoint($one-col){
    width: 300px;
  }
  @include breakpoint($minimal){
    margin-left: 2%;
  }
}

#images_container {
  overflow: hidden;
  @include clearfix;
}

article.country {
  position: relative;
  float: right;
  margin-bottom: 20px;
  background: #282a2d;
  width: 300px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  overflow: hidden;
  @include breakpoint($three-col) {
    margin-right: 20px;
  }
  @include breakpoint($four-col) {
    margin-right: 20px;
  }
  &:nth-child(2n) {
    @include breakpoint($two-col) {
      margin-left: 20px;
    }
  }
  &:nth-child(3n-2) {
    @include breakpoint($three-col) {
      margin-right: 0;
    }
  }
  &:first-child {
    @include breakpoint($four-col) {
      margin-right: 0;
    }
  }
  &:nth-child(4n+6) {
    @include breakpoint($four-col) {
      margin-right: 0;
    }
  }
}

article.countries {
  width: 620px;
  height: 420px;
  line-height: 420px;
  @include breakpoint($big_block_transform){
    width: 300px;
    height: 200px;
    line-height: 200px;
  }
}

/* <-- base content end */

/* main image gallery ---------------------------------------------------------> */
// .article > ( .gallery-bg > (.bg-id(n) + .gallery-title) ) + .bg-spinner

.gallery-bg {
  display: block;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font: 26px NewBaskervilleC, serif;
  color: #ffffff;
  background: #282a2d;
  opacity: 0.7;
  &  > div {
    width: 100%;
    height: 100%;
    & .gallery-bg-img {
      margin:0;
      padding:0;
      max-height: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.gallery-title {
  position: relative;
  margin-top: -200px;
  height: 200px;
  width: 300px;
  text-align: left;
}

.gallery-name {
  font: 36px NewBaskervilleC, serif;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
}

// resize for big tile
.countries .gallery-name {
  line-height: 420px;
  @include breakpoint($big_block_transform){
    line-height: 200px;
  }
}

// resize for big tile
.countries .gallery-title {
  margin-top: -420px;
  height: 420px;
  width: 620px;
  @include breakpoint($big_block_transform){
    margin-top: -200px;
    width: 300px;
    height: 200px;
  }
}

.gallery-title > span {
  display: block;
  position:absolute;
  bottom: 15px;
  left: 20px;
  width: 60%;
  color: #fdfdfd;
  font: 24px NewBaskervilleC, serif;
}

.gallery-left-arrow {
  background: url("../images/svg/prev_slide.svg") no-repeat;
  opacity: 0.7;
  position: absolute;
  bottom: 20px;
  right: 55px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.gallery-right-arrow {
  background: url("../images/svg/next_slide.svg") no-repeat;
  opacity: 0.7;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.gallery-zoom {
  background: url("../images/svg/icon_zoom.svg") no-repeat;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}

.visible1 {
  opacity: 0.1;
}

.visible7 {
  opacity: 0.7;
}

.visibleFull {
  opacity: 1;
}

.visibleNot {
  opacity: 0;
}

.gallery-left-arrow:hover,
.gallery-right-arrow:hover,
.gallery-zoom:hover,
.gallery-left-arrow:active,
.gallery-right-arrow:active,
.gallery-zoom:active,
.gallery-left-arrow:focus,
.gallery-right-arrow:focus
.gallery-zoom:focus {
  opacity: 1;
}

/* spinner */
.bg-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 32px;
  margin-left: -16px;
  margin-top: -16px;
  height: 32px;
}
.bg-spinner > span {
  background: url("../images/svg/spin.svg") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-spin {
  -webkit-animation: spin 2s linear 0s infinite;
  -moz-animation: spin 2s linear 0s infinite;
  animation: spin 2s linear 0s infinite;
}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/* <-- main image gallery end */


/* footer ----------------------------------------------------------------------> */

footer.main_page {
  height: 60px;
  background: #282a2d;
  margin-top: 60px;
  & .footer_logo {
    margin-left: 9.4%;
    @include breakpoint($four-col) {
      margin-left: 90px;
    }
    line-height: 60px;
    color: #676b71;
    & .footer_year {
      font: 16px NewBaskervilleC, serif;
    }
    & .logo_title {
      float: right;
      height: 60px;
      margin-right: 9.4%;
      overflow: hidden;
      font-size: 14px;
      @include breakpoint($four-col) {
        margin-right: 90px;
      }
      & .logo_name {
        float: right;
        height: 60px;
        line-height: 60px;
        margin-right: 15px;
        & span {
          word-spacing: -3px;
          &:first-letter {
            text-transform: uppercase;
          }
          @include breakpoint($menu-transform) {
            display: none;
          }
        }
        & strong {
          text-transform: capitalize;
          font-weight: normal;
          color: #aeb2b7;
        }
      }
      & .logo_img {
        float: right;
        width: 30px;
        height: 60px;
        margin-top: 10px;
        & .svg_img{
          background: url("../images/svg/cp_logo.svg") no-repeat;
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}

/* <-- footer end */